<div class="container">
    <div class="row">
 <!--  GET-->

        <div class="col-md-3">
            <h1>get</h1>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
 <!-- POST-->

        <div class="col-md-3">
            <h1>post</h1>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>

 <!--  PUT-->
        <div class="col-md-3">
            <h1>put</h1>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
        <!--  DELETE-->
        <div class="col-md-3">
            <h1>delete</h1>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>
</div>